.editmain{
  background: ;
}

.editnavigation{
  background: ;
}

.editcontent{
  background: ;
  text-align: center;
}

.title {
  background-color: ;
  border: ;
  color: ;
  font-size: 120%;
  font-weight: bold;
}

.editTextArea{
  font-size: 120%;
  color: ;
  background-color: ;
  border: ;
}
