.editArea{
  margin: 10px;
  width: 90%;
  height: 60%;
}

.title {
  width: 100%;
  background-color: #f7d199;
  margin-bottom: 5px;
  border: inset 3px #a32020;
  color: #602320;
  font-size: 120%;
  font-weight: bold;
}

.editTextArea{
  width: 100%;
  height: 100%;
  font-size: 120%;
  margin: auto;
  resize: none;
  color: #602320;
  background-color: #f7d199;
  border: inset 3px #a32020;
}
