.editmain{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "editnavigation"
    "editcontent";
}

.editnavigation{
  grid-area: editnavigation;
}

.editcontent{
  grid-area: editcontent;
}

.title {
  width: 90%;
  margin-bottom: 5px;
}

.editTextArea{
  width: 90%;
  height: 80%;
  margin: auto;
  resize: none;
}
