.ovmain{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "ovnavigation"
    "ovcontent";
}

.ovnavigation{
  grid-area: ovnavigation;
}

.ovcontent{
  grid-area: ovcontent;
  width: 100%;
  overflow-y: scroll;
}

.noteHolderUl{
  margin: 0px;
  padding: 0px;
}

.note {
  position: relative;
  float: left;
  height: 100px;
  width: 200px;
  margin: 1%;
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
}

.note:hover{
}

.noteTitle {
  width: 100%;
  height: 20%;
}

.noteContent {
}
