.overviewMain{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.noteHolder{
  width: 100%;
  height:85%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.noteHolderUl{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.note {
  position: relative;
  float: left;
  height: 20%;
  width: 20%;
  max-width: 400px;
  max-height: 200px;
  margin: 1%;
  padding: 8px;
  border: 5px outset #ff0000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #efefc8;
  cursor: pointer;
  overflow: hidden;
}

.note:hover{
  transform: scale(1.1);
}

.noteTitle {
  font-weight: bold;
  color: #000000;
  font-size: 100%;
}

.noteContent {
  color: #696969;
  font-size: 80%;
  text-align: justify;
}
