html,
body{
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #000000;
  color: #cccccc;
  overflow: hidden;
}

button {
  background: #ffea5e;
  background-image: -webkit-linear-gradient(top, #ffea5e, #2b2000);
  background-image: -moz-linear-gradient(top, #ffea5e, #2b2000);
  background-image: -ms-linear-gradient(top, #ffea5e, #2b2000);
  background-image: -o-linear-gradient(top, #ffea5e, #2b2000);
  background-image: linear-gradient(to bottom, #ffea5e, #2b2000);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 5px 2px 3px #ff0000;
  font-family: Arial;
  color: #fabc00;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 0px;
  text-decoration: none;
  margin: 1%;
  cursor: pointer;
}

button:hover {
  background: #d10026;
  text-decoration: none;
}

/* webkit scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  margin-right: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #fabc00;
  margin: 1px;
  width: 10px;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e01919;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #ffea5e;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #fabc00;
}
::-webkit-scrollbar-track:active {
  background: #e01919;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.header{
  width: 100%;
  height: auto;
  padding: 1%;
}
